html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: lightgrey;
}

.jumbotron {
  background-color: lightgrey;
  margin-top: -40px;
  margin-bottom: -40px;
}

.logo {
  min-width: 80px;
  max-width: 200px;
}

.icon {
  width: 15%;
  min-width: 50px;
}

.pull-margin-right {
  margin-right: 30px;
}

.pull-margin-left {
  margin-left: 30px;
}

.pull-up {
  margin-top: -20px;
}

h1 {
  color: #2d3c49;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #2d3c49;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
}

p {
  color: black;
  font-family: 'Roboto', sans-serif;
}

footer {
  padding-bottom: 20px;
}

hr {
  height: 3px;
  border-color: lightgrey;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

img {
  width: 100%;
}

.cursor-link {
  cursor: pointer;
}

.keywords {
  font-style: italic;
  color: #7d97ad;
}
